* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
   
}
.container{
    background-color: rgb(147, 218, 194);
    padding: 40px 30px;
    border-radius: 23px;
    margin: 23px 0px 0px;
   box-shadow: 0 10px 25px rgba(0,0,0,.15);
   
   /* height: 35vh; */
}
.password{
    padding: 5px 14px;
    border: 2px solid;
    border-radius: 8px;
    margin: 10px 2px;
}
.length{
    font-size: 20px;
    gap: 8px;
    margin: 3% 50px;
}
.option{
    font-size: 20px;
    margin: 0px 0px 20px;
}
.generate{
padding: 8px 10px;
background-color: rgba(128, 255, 0, 0.278);
border-radius: 8px;
margin: 0px 0px 20px  ;
}
.copy{padding: 8px 10px;
background-color: rgba(255, 0, 102, 0.536);
border-radius: 8px;
margin: 0px 0px 20px;
}
.strength{
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 20px;
}
.empty{
    font-size: 20px;
    display: none;
}
.copied{
     font-size: 20px;
      display: none;

}